<div>
  <h2 id="page-heading" data-cy="WorkExperienceEntryHeading">
    <span jhiTranslate="interviewme6App.workExperienceEntry.home.title">Work Experience Entries</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="interviewme6App.workExperienceEntry.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-work-experience-entry"
        [routerLink]="['/work-experience-entry/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="interviewme6App.workExperienceEntry.home.createLabel">Create a new Work Experience Entry</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  @if (workExperienceEntries?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="interviewme6App.workExperienceEntry.home.notFound">No Work Experience Entries found</span>
    </div>
  }

  @if (workExperienceEntries && workExperienceEntries.length > 0) {



    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">

            <th scope="col" jhiSortBy="title">
              <div class="d-flex">
                <span jhiTranslate="interviewme6App.workExperienceEntry.title">Title</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="startDate">
              <div class="d-flex">
                <span jhiTranslate="interviewme6App.workExperienceEntry.startDate">Start Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="endDate">
              <div class="d-flex">
                <span jhiTranslate="interviewme6App.workExperienceEntry.endDate">End Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="company">
              <div class="d-flex">
                <span jhiTranslate="interviewme6App.workExperienceEntry.company">Company</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>



            <th scope="col" jhiSortBy="country">
              <div class="d-flex">
                <span jhiTranslate="interviewme6App.workExperienceEntry.country">Country</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>


            <th scope="col" jhiSortBy="city">
              <div class="d-flex">
                <span jhiTranslate="interviewme6App.workExperienceEntry.city">City</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>

            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (workExperienceEntry of workExperienceEntries; track trackId) {
            <tr data-cy="entityTable">

              <td>{{ workExperienceEntry.title }}</td>
              <td>{{ workExperienceEntry.startDate | formatMediumDatetime }}</td>
              <td>{{ workExperienceEntry.endDate | formatMediumDatetime }}</td>
              <td>{{ workExperienceEntry.company }}</td>
              <td>{{ workExperienceEntry.country }}</td>
              <td>{{ workExperienceEntry.city }}</td>

              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/work-experience-entry', workExperienceEntry.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a
                    [routerLink]="['/work-experience-entry', workExperienceEntry.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(workExperienceEntry)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (workExperienceEntries && workExperienceEntries.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
